<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" >
    <head>
        <title>Angular JS Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel='stylesheet'>

        <script src="angular.js/angular.js/angular.js"></script>
        <script src='js/main.js'></script>
    </head>
    <body>

        <!--
        <div ng-app="myApp">
            <h1>Angular JS Tutorial 2 -Controllers</h1>


            <input type="text" ng-model="data.message">
            <h2>{{ data.message}}</h2>

            <div ng-controller="firstCtrl">
                <input type="text" ng-model="data.message">
                <h2>{{ data.message}}</h2>
            </div>

            <div ng-controller="secondCtrl">
                <input type="text" ng-model="data.message">
                <h2>{{ data.message}}</h2>
                <h3>{{data.message | reverse}}</h3>
            </div>


        </div>
        -->
        <!--
        <div ng-app="superhero">
            <superman></superman>
        </div>
        -->
        <div ng-app="superhero">
          <!--  <div superman></div>-->
          <!--<div class="superman"></div>-->
          <div superman></div>
          <div flash></div>
        </div>
    </body>
</html>
